@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
body{
    background-color: #111310;
}
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #111310;  
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
@layer components {
  .text-header {
    @apply  font-bold text-2xl ml-8;
  }
 
}
.text span::after {
  content: ",  ";
}
.text span:last-child::after {
  content: "";
}
.removeScroll::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}